<ion-toolbar style="position:inherit;" color="primary">
</ion-toolbar>
<ion-grid>
  <ion-row justify-content-center>
    <ion-col col-sm-12 col-md-10 col-lg-8>
      <ion-card style="position:relative;margin-top: -64px;max-width: 1000px">
        <ion-card-header>
          <ion-title>
            Resume List
          </ion-title>
        </ion-card-header>
        <divider></divider>
        <ion-card-content>
          <ion-row>
            <ion-col col-4 *ngFor="let v of versionList | async">
              <ion-card class="version-card">
                <ion-toolbar color="secondary">
                  {{v.name}}
                </ion-toolbar>
                <ion-card-content>
                  <ion-row>
                    <ion-col>
                      {{ 'Language' | translate }}:
                    </ion-col>
                    <ion-col>
                      {{ v.language }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      {{ 'Create' | translate }}:
                    </ion-col>
                    <ion-col>

                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      {{ 'Update' | translate }}:
                    </ion-col>
                    <ion-col>

                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <divider></divider>
                <div class="version-action">
                  <ion-row>
                    <ion-col>
                      <button ion-button small clear color="secondary" (click)="duplicateVersion(v)">{{ 'Duplicate' | translate }}</button>
                    </ion-col>
                    <ion-col>
                      <button ion-button small clear color="secondary" [routerLink]="[v.$key]">{{ 'Edite' | translate }}</button>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-fab bottom left>
                <button ion-fab color="secondary" (click)="addVersion()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-fab>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>