<form [formGroup]="loginForm" (submit)="loginByEmail()" novalidate>
  <ion-item>
    <ion-label floating>{{ 'Email' | translate }}</ion-label>
    <ion-input type="text" #email formControlName="email" type="email" (change)="elementChanged(email)" [class.invalid]="!loginForm.controls.email.valid &&(emailChanged || submitAttempt)">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>{{ 'Password' | translate }}</ion-label>
    <ion-input type="text" #password formControlName="password" type="password" (change)="elementChanged(password)" [class.invalid]="!loginForm.controls.password.valid &&(passwordChanged || submitAttempt)">
    </ion-input>
  </ion-item>
  <div *ngIf="submitAttempt && loginError">
    <p>{{ 'The User Or Password is Invalid' | translate }}</p>
  </div>
  <ion-row>
    <button ion-button small color="light" type="submit">{{ 'Login' | translate }}</button>
    <button ion-button small clear color="secondary" (click)="authService.setAuthType('sign-up')">{{ 'Sign Up' | translate }}</button>
  </ion-row>
</form>