<ion-card-content>  
<expansion-panel-group #panelGroup>
	<expansion-panel *ngFor="let itm of section.itemList" [expanded]="true">
		<expansion-panel-header>{{ itm.name || 'Volunteering' | translate }}</expansion-panel-header>
		<expansion-panel-content>
			<volunteering-item [item]="itm"></volunteering-item>
		</expansion-panel-content>
	</expansion-panel>
</expansion-panel-group>
 </ion-card-content>
<divider></divider>
<button ion-button small clear color="secondary" (click)="addItem()">{{ 'Add Item' | translate }}</button>
