
<details (toggle)="onClick()">
    <summary >
        <ion-row>
            <ion-col col-11 class="titleName">
                <ng-content select="expansion-panel-header"></ng-content>
            </ion-col>
            <ion-col col-1>
                <span>            
                    <ion-icon *ngIf="showRemove" (click)="onRemoveClick()" name="close"></ion-icon>
                            
                    <ion-icon *ngIf="expanded" name="arrow-dropup"></ion-icon>
                    <ion-icon *ngIf="!expanded" name="arrow-dropdown"></ion-icon>                    
                </span>
            </ion-col>
        </ion-row>
    </summary>
    <div class="content">
        <ng-content select="expansion-panel-content"></ng-content>
    </div>
    <div>
        <ng-content select="expansion-panel-footer"></ng-content>
    </div>
</details>