<ion-row class="section-header">
    <h3>
        {{ section.title | translate}}
    </h3>
</ion-row>
<div [ngSwitch]="section.type">
    <ion-row *ngSwitchCase="'language'">
        <ion-row *ngFor="let itm of section.itemList">
            <ion-col col-4>
                <label>{{itm.name}}</label>
            </ion-col>
            <ion-col col-8>
                <p>{{itm.level}}</p>
            </ion-col>
        </ion-row>
    </ion-row>

    <ion-row *ngSwitchCase="'education'">
        <ion-row *ngFor="let itm of section.itemList">
            <ion-col col-3>
                <h4> {{itm.institute}},{{itm.country}}</h4>
            </ion-col>
            <ion-col col-6>
                <label>{{itm.name}}</label>
                <p>{{itm.details}}</p>
            </ion-col>
            <ion-col col-3>
                <label> {{itm.dateFrom}}-{{itm.dateTo}} </label>
            </ion-col>
        </ion-row>
    </ion-row>

    <ion-row *ngSwitchCase="'experience'" >
        <ion-row *ngFor="let itm of section.itemList">
            <ion-col col-3>
                <h4>{{itm.company}},{{itm.country}}{{itm.city}}</h4>
            </ion-col>
            <ion-col col-6>
                <label>{{itm.name}}</label>
                <p>{{itm.details}}</p>
            </ion-col>
            <ion-col col-3>
                <label>{{itm.dateFrom}}-{{itm.dateTo}}</label>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row *ngSwitchCase="'skills'" layout="row">
        <ion-col col-6 *ngFor="let c of section.itemList">
            <ion-col col-4>
                <h4>{{c.name}}</h4>
            </ion-col>
            <ion-col col-8>
                <ion-row *ngFor="let itm of c.itemList">
                    <ion-col col-4>
                        <label> {{itm.name}}</label>
                    </ion-col>
                    <ion-col col-8>
                        <ion-item>
                            <ion-range [ngModel]="itm.level"></ion-range>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-col>
    </ion-row>
    <ion-row *ngSwitchCase="'certificate'" >
        <ion-row *ngFor="let itm of section.itemList">
            <ion-col col-3>
                <h4>{{itm.name}},{{itm.authority}}</h4>
            </ion-col>
            <ion-col col-6>
                <label>{{itm.url}}</label>
                <p>{{itm.details}}</p>
            </ion-col>
            <ion-col col-3>
                <label>{{itm.issuDate}}</label>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row *ngSwitchCase="'award'" >
        <ion-row *ngFor="let itm of section.itemList">
            <ion-col col-3>
                <h4>{{itm.title}},{{itm.presentedBy}}</h4>
            </ion-col>
            <ion-col col-6>
                <label>{{itm.url}}</label>
                <p>{{itm.details}}</p>
            </ion-col>
            <ion-col col-3>
                <label>{{itm.date}}</label>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row *ngSwitchCase="'publication'" >
        <ion-row *ngFor="let itm of section.itemList">
            <ion-col col-3>
                <h4>{{itm.name}},{{itm.publisher}}</h4>
            </ion-col>
            <ion-col col-6>
                <p>{{itm.details}}</p>
            </ion-col>
            <ion-col col-3>
                <label> {{itm.date}}</label>
                <a href="{{itm.url}}">{{itm.url}}</a>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row *ngSwitchCase="'reference'" >
        <ion-row *ngFor="let itm of section.itemList">
            <ion-row>
                <ion-col col-6>
                    <h4> {{itm.name}},{{itm.company}}</h4>
                </ion-col>
                <ion-col col-6>
                    <label>{{itm.email}}</label>
                </ion-col>
            </ion-row>
            <ion-row>
                <p>{{itm.details}}</p>
            </ion-row>
        </ion-row>
    </ion-row>
    <ion-row *ngSwitchCase="'volunteering'" >
        <ion-row *ngFor="let itm of section.itemList">
            <ion-col col-3>
                <h4>{{itm.name}},{{itm.country}} {{itm.city}}</h4>
            </ion-col>
            <ion-col col-6>
                <label>{{itm.role}}</label>
                <p>{{itm.details}}</p>
            </ion-col>
            <ion-col col-3>
                <label>{{itm.dateFrom}} - {{itm.dateTo}}</label>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row *ngSwitchCase="'hobby'" layout="row">
        <ion-col col-3 *ngFor="let itm of section.itemList">
            <ion-icon name="{{itm.icon}}"></ion-icon>
            <h4>{{itm.name}}</h4>
        </ion-col>
    </ion-row>
    <ion-row *ngSwitchCase="'other-text'">
        <p>{{section.itemList}}></p>
    </ion-row>
</div>