<ul class="mdl-stepper">
  <li class="mdl-step">
  <span class="mdl-step__label">
    <span class="mdl-step__title">
      <span class="mdl-step__title-text">{{}}</span>
      <span class="mdl-step__title-message">{{}}</span>
    </span>
  </span>
  <div class="mdl-step__content">
  </div>
  <div class="mdl-step__actions">
    <button data-stepper-continue>Continue</button>
    <button data-stepper-cancel>Cancel</button>
    <button data-stepper-back>Back</button>
    <button data-stepper-skip>Skip</button>
  </div>
</li>
</ul>