  <ion-row>
    <ion-col col-3>
      <ion-list>
        <button ion-item>
          <ion-icon [name]="version.personalInfo.icon"></ion-icon>
          {{version.personalInfo.title}}
        </button>
        <button ion-item *ngFor="let s of version.sectionList" [makeDraggable]="s" (dropped)="onDrop($event, s)">
          <ion-icon [name]="s.icon"></ion-icon> 
          {{ s.title }}
        </button>  
      </ion-list>
    </ion-col>
    <ion-col col-9>
      <ion-header>
        <ion-toolbar>
          <ion-row>            
            <button ion-button small clear color="secondary">save</button>
            <app-translate></app-translate>
          </ion-row>         
        </ion-toolbar>
      </ion-header>
      <div class="version-container" dir="{{'ltr' | languageDir }}">
        <ion-row justify-content-center>
          <ion-col class="card" col-12 center>
            <personal-info [personalInfo]="version.personalInfo"></personal-info>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center *ngFor="let s of version.sectionList">
          <ion-col class="card">
            <section [section]="s" (removeSectionClick)="removeSection(version.sectionList.indexOf(s),$event)"></section>
          </ion-col>
        </ion-row>
      </div>
      <section-template style="{position: fixed;}" (sectionClick)="addSection($event)"></section-template>
    </ion-col>
  </ion-row>
