@import "~@angular-mdl/core/scss/color-definitions";

$color-primary: $palette-orange-500;
$color-primary-dark: $palette-orange-700;
$color-accent: $palette-blue-500;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '~@angular-mdl/core/scss/material-design-lite';