
.android-mobile-title {
  display: none !important;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
.android-title {
    display: none !important;
  }
android-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .android.android-search-box.is-focused ~ .android-mobile-title,
  .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
    opacity: 0;
  }
  .android-title > a {
    font-family:jozoor; 
    text-decoration:none;
    font-size:50px; 
    color:#eee;
}
}
@media (max-width:900px)
{
    .android-mobile-title
    {
        top:0px;
    }
}