<div class="android-navigation-container">        
      <nav class="android-navigation mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" #editUserButton1 *ngIf="!authService.user" (click)="authActionClick('sign-up')">{{ 'Sign Up' | translate }}</a>
        <a class="mdl-navigation__link" #editUserButton2 *ngIf="!authService.user" (click)="authActionClick('login')">{{ 'Login' | translate }}</a>
        <a class="mdl-navigation__link" *ngIf="authService.user" (click)="goToVersionList()">{{ 'DashBoard' | translate }}</a>
        <a class="mdl-navigation__link" *ngIf="authService.user" (click)="authService.logout()">{{ 'Logout' | translate }}</a>
        <a class="mdl-navigation__link" href="">عنا</a>                   
      </nav>
      
    </div>