<ion-card-content>
	<expansion-panel-group #panelGroup>
		<expansion-panel *ngFor="let itm of section.itemList" [title]="itm.name" [expanded]="true" (removeClick)="removeItem(section.itemList.indexOf(itm))">
			<expansion-panel-header>{{ itm.name || 'Degree' | translate }}</expansion-panel-header>
			<expansion-panel-content>
				<education-item [item]="itm"></education-item>
			</expansion-panel-content>
		</expansion-panel>
	</expansion-panel-group>
</ion-card-content>
<divider></divider>
<button ion-button small clear color="secondary" (click)="addItem()">{{ 'Add Item' | translate }}</button>