<ion-card-content>
    <expansion-panel-group #panelGroup>
        <expansion-panel *ngFor="let categ of section.itemList" [expanded]="true" (removeClick)="removeItem($event)">
			<expansion-panel-header>{{ categ.name || 'Category Name' | translate }}</expansion-panel-header>
			<expansion-panel-content>
				<skill-category [section]="categ"></skill-category>
			</expansion-panel-content>
		</expansion-panel>        
    </expansion-panel-group>
</ion-card-content>
<divider></divider>
<button ion-button small clear color="secondary" (click)="addItem()">{{ 'Add Category' | translate }}</button>