<form #sectionFrm="ngForm">
	<ion-row>
		<ion-col col-12>
			<ion-item>
				<ion-label floating>{{ 'Category Name' | translate }}</ion-label>
				<ion-input type="text" required [(ngModel)]="section.name" name="name" #name="ngModel"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
</form>
<ion-row>
	<ion-col>
		<ion-card>
			<ion-row class="text-align">
				<ion-col>
					{{ 'Name' | translate }}
				</ion-col>
				<ion-col>
					{{ 'Level' | translate }}
				</ion-col>
			</ion-row>
			<ion-card-content>
				<div *ngFor="let itm of section.itemList">
					<skill-item [item]="itm"></skill-item>
					<divider></divider>
				</div>
			</ion-card-content>
		</ion-card>
	</ion-col>
</ion-row>
<divider></divider>
<ion-row>
	<button ion-button small clear color="secondary" (click)="addItem()">{{ 'Add Item' | translate }}</button>
</ion-row>